.button {
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.country-details header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7vh 0;
}
.country-details header .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  min-width: 7.5vw;
  padding: 0.5rem 1.75rem 0.5rem 1.5rem;
  font-size: 1rem;
}
.country-details header .back:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.country-details header .back i {
  margin-right: 0.75rem;
  font-size: 1.1rem;
}
.country-details section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.country-details section .flag {
  width: 40%;
  aspect-ratio: 1.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.country-details section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53%;
  height: 50vh;
}
.country-details section .info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 15vh;
}
.country-details section .info .row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20vh;
}
.country-details section .info .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.75rem;
}
.country-details section .info .row > div .text {
  white-space: nowrap;
  font-weight: 600;
  margin-right: 0.5rem;
}
.country-details section .info .row .name {
  font-size: 2rem;
  font-weight: 800;
}
.country-details section .info .row .border-countries .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.country-details section .info .row .border-countries .value > div {
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  min-width: 7.5vw;
  padding: 0.25rem 1.5rem;
  margin: 0.25rem 0.5rem;
  font-size: 1rem;
}
.country-details section .info .row .border-countries .value > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
