.button {
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.game {
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: auto;
  background-color: var(--bg-color);
  width: 100vw;
  height: calc(100vh - 4.5rem);
  padding: 3rem;
  padding-bottom: 4rem;
  display: none;
  overflow-y: scroll;
}
.game .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50vw;
}
.game .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 20vw;
  min-width: 15rem;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.game .options .option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.game .options .option img {
  display: none;
}
.game .options .option.correct {
  color: green;
  border: 1px solid green;
}
.game .options .option.wrong {
  color: red;
  border: 1px solid red;
  pointer-events: none;
}
.game .question:not(.hidden) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game .question:not(.hidden).answered .option {
  pointer-events: none;
}
.game .question:not(.hidden).answered .next {
  background-color: var(--element-color) !important;
  color: var(--text-color) !important;
  border-radius: 0.25rem !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4) !important;
  text-align: center !important;
  cursor: pointer !important;
  pointer-events: all !important;
}
.game .question:not(.hidden).answered .next:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.game .question:not(.hidden) header {
  margin-top: 6vh;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.game .question:not(.hidden) header .hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}
.game .question:not(.hidden) header .hint img {
  height: 80%;
}
.game .question:not(.hidden) .options > .option.img {
  padding: 0;
}
.game .question:not(.hidden) .options > .option.img img {
  display: block;
  height: 4rem;
}
.close {
  position: absolute;
  top: 4vh;
  left: 4vw;
  right: auto;
  bottom: auto;
  z-index: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  min-width: 7.5vw;
  padding: 0.5rem 1.75rem 0.5rem 1.5rem;
  font-size: 1rem;
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.close i {
  margin-right: 0.75rem;
  font-size: 1.1rem;
}
.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start header {
  margin: 5vh 0;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.start header .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.start header .stats > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}
.start header .stats > div .text {
  margin-right: 0.5rem;
}
.start header .stats .correct {
  color: green;
}
.start header .stats .wrong {
  color: red;
}
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 3rem;
}
.controls > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--element-color);
  color: var(--text-color);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  width: 30%;
  max-width: 15rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.controls > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.controls > div i {
  margin: 0 0.5rem;
}
.controls .next {
  color: gray;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
